<?xml version="1.0" ?>

<launch>

    <!-- Launch main script -->
    <!-- node pkg="clira_damot" type="tf_lidar2radar_ros_node.py" name="tf_lidar2radar_ros_node" output="screen"/ -->
    <node pkg="clira_damot" type="main.py" name="lira_mot_node" output="screen" />
    
    <!-- Frames -->
    <arg name="t4ac_frames" value="/t4ac/frames"/>
		<group ns="$(arg t4ac_frames)">
			<param name="ego_vehicle" type="string"   value="ego_vehicle"/>
			<param name="laser" type="string"   value="ego_vehicle/lidar/lidar1"/>
			<param name="camera" type="string"   value="ego_vehicle/camera/rgb/front"/>
			<param name="radar" type="string"   value="ego_vehicle/radar/front"/>
		</group>
</launch>